* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53)), url(images/ARP2746.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;



}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li:hover {
    background-color: #111;

}

.content {
    width: 100%;
    position: translateY(-50%);
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
}

.content h1 {
    font-size: 30px;
    margin-top: 0;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align:center;
    background-color: #333;
    width: 700px;
    opacity: 0.5;
}

button {
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #964B00;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

span {
    background: #964B00;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.btn {
    color: red;
    
}
